In [2]:
import pandas as pd

df = pd.read_csv('homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

### 1. Match the following characteristics of this dataset: 
- total number of actions
- number of unique users
- sizes of the control group and experiment group (ie. the number of unique users in each group)

In [3]:
# total number of actions
len(df.timestamp)

8188

In [4]:
# number of unique users
len(df.id.unique())

6328

In [6]:
# size of control group and experiment group
expt_g = sum(df.groupby('id')['group'].unique() == 'experiment')
ctr_g = sum(df.groupby('id')['group'].unique() == 'control')
print(expt_g)
print(ctr_g)
df.groupby('group').id.nunique()

2996
3332

group
control       3332
experiment    2996
Name: id, dtype: int64

### 2. How long was the experiment run for? 
Hint: the records in this dataset are ordered by timestamp in increasing order

In [15]:
x = pd.to_datetime(df.timestamp[8187])
y = pd.to_datetime(df.timestamp[0])
x-y

Timedelta('115 days 16:41:40.789831')

### 3. What action types are recorded in this dataset?
ie. What are the unique values in the action column?

In [16]:
# action types in this experiment
df['action'].unique()

array(['view', 'click'], dtype=object)

### 4. Why would we use click through rate instead of number of clicks to compare the performances of control and experiment pages?

Answer

### 5. Define the click through rate (CTR) for this experiment.

Answer

### 6. What are the null and alternative hypotheses?
Use $CTR_{old}$ and $CTR_{new}$ in your hypotheses.

$$H_0: $$
$$H_1: $$